# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/local.properties
android/.gradle/
android/app/.cxx/
*.apk
*.aab
*.ap_

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Native
*.o
*.a
*.so

# Signing keystore (存于 GitHub Secret)
*.keystore
android/app/camengine-release.keystore